<h1>About This Site</h1>

<p>This site is a small Node/Express/Handlebars concoction.
It examines the creation date of netserver.debug* files from /tmp, 
then uses the results to populate a Handlebars template. 
Express provides the backend web routing/handling, 
and Node.js makes it all go.
</p>


<p>Apache2 is running on port 80, and uses a virtual host for netperf.richb-hanover.com to proxy to the node process that's listening on port 3000.
</p>
<p>Many thanks to Raymond Camden for his <a href="http://code.tutsplus.com/tutorials/introduction-to-express--net-33367">Introduction to Express</a> tutorial which is the basis of this code.
Get the source to this project from <a href="https://github.com/richb-hanover/netperfmon">Github.com.</a></p>

Rich Brown <br />
<a href="mailto:info@richb-hanover.com">info@richb-hanover.com</a>