<h1>netperf.richb-hanover.com</h1>

<style type="text/css">
.legend {
	text-align: right;
	padding-right: 3px;
	font-weight: bold;
	}
.trval {
	text-align: right;
	padding-right: 5px;
	padding-left: 15px;
}
</style>
<p><b>netperf</b> is a network performance measurement tool 
	(<a href="http://netperf.org">http://netperf.org</a>).
	It relies on two programs running on separate computers:
<ul>
	<li>a <b>netserver</b> that listens for commands from ... </li>
	<li>a <b>netperf client</b> that sends those commands at the user's direction.</li>
</ul>
The netperf client's commands tell netserver to send or receive streams of data
between the two devices and then measures the data transfer rates between them.
</p>
<blockquote>
<h2>Abuse Policy</h2>
<p>This server is open to network researchers who need a stable system for 
testing network protocols and implementations.
Individuals are welcome to use the server for occasional network performance tests. 
We reserve the right to block access if we detect sustained over-use of this service.</p>
</blockquote>

<h3>Recent netserver activity</h3>
<p>This server hosts a <b>netserver</b> that is publicly accessible. 
It's open to anyone to use, so it may be heavily loaded from time to time.
It also has limited bandwidth to certain parts of the Internet 
(see the <a href="./about"> About page</a> for details.)
This page shows the current and recent load.
</p>
<p> 
The stats below show the netserver process activity, summarized from the creation dates of the 'netserver.debug*' files in /tmp.
</p>

<table>
{{#each netperfstats}}
<tr><td class="legend">{{legend}}: <td class="trval">{{val}} <td>{{units}}
{{/each}}
</table>
