<h1>netperf.richb-hanover.com</h1>

<p><b>netperf</b> is a network performance measurement tool 
	(<a href="http://netperf.org">http://netperf.org</a>).
	It relies on two programs running on separate computers:
<ul>
	<li>a <b>netserver</b> that listens for connections from ... </li>
	<li>a <b>netperf client</b> that connects and tells what to do.</li>
</ul>
The netperf client can send commands send or receive streams of data
and thus measure the data transfer rates between the two devices.
</p>

<h3>Recent netserver activity</h3>
<p>This server hosts a <b>netserver</b> that is publicly accessible. 
	It's open to anyone to use, so it might get heavily loaded.
This page shows the current and recent load on netperf.richb-hanover.com.
</p>
<p> 
The stats below show the netserver process activity, summarized from the creation dates of the 'netserver.debug*' files in /tmp.
</p>

<p>
Current Time: {{netperfstats.curtime}}<br />
    Last Min: {{netperfstats.lastmin}} runs<br />
  Last 5 Min: {{netperfstats.last5min}} runs<br />
   Last Hour: {{netperfstats.lasthour}} runs<br />
    Last Day: {{netperfstats.lastday}} runs<br />
  Query took: {{netperfstats.telapse}} msec<br />
</p>

<h3>Stats for netperf.richb-hanover.com</h3>

<p>The "bench.sh" script gives an idea of the 
connectivity and horsepower of a Virtual Private Server (VPS).
Thanks to <a href="freevps.us">freevps.us</a> for the cool script.
To use it, simply copy the "wget..." line below and paste it into
a terminal session. 
Here are the stats for netperf.richb-hanover.com (March 2014):</p>
<pre>
$ wget freevps.us/downloads/bench.sh -O - -o /dev/null|bash
CPU model :  Intel(R) Xeon(R) CPU E3-1240 V2 @ 3.40GHz
Number of cores : 4
CPU frequency :  3400.013 MHz
Total amount of ram : 1024 MB
Total amount of swap : 1024 MB
System uptime :   22 days, 23:46,
Download speed from CacheFly: 97.6MB/s
Download speed from Coloat, Atlanta GA: 109MB/s
Download speed from Softlayer, Dallas, TX: 60.1MB/s
Download speed from Linode, Tokyo, JP: 11.0MB/s
Download speed from i3d.net, Rotterdam, NL: 9.72MB/s
Download speed from Leaseweb, Haarlem, NL: 17.9MB/s
Download speed from Softlayer, Singapore: 11.8MB/s
Download speed from Softlayer, Seattle, WA: 37.4MB/s
Download speed from Softlayer, San Jose, CA: 38.5MB/s
Download speed from Softlayer, Washington, DC: 68.0MB/s
I/O speed :  620 MB/s
</pre>